body
{

    margin: 0;

}
.headernav
{
    font-size: 15px;
background-color: #ffffff;
font-family: sans-serif;
width:80%;
margin-left: 60px;


}
.navbar
{

    width: 100%;
    display: flex;
    height: 55px;
}


.nav
{
float: left;
width: 60%;
margin-top: 7px;
height: 50px;


}
.micrologo
{
width: 100px;
padding: 10px;
height: 20px;

}
.navbarlogo
{
float: left;
width: 10%;
height: 50px;

}
.rightside
{
float: left;
height: 50px;
width: 20%;

}

.navlist li
{
 display: inline-block;
 color:#262626 ;
 padding-left: 0px;
 list-style:none ;
}

.navlist li a
{
padding: 10px;
text-decoration: none;
margin: 1px;
color:#262626 ;


}

.navlist
{
 padding: 0px;
 padding-right: 20px;


}
.navlist li a:hover

{
text-decoration: underline;
}

.right li
{
    color:#262626 ;
display: inline-block;
list-style: none;
border: 1px;

}

.b 
{

    padding-left: 10px;
}
.span:hover
{

    text-decoration: underline;
}

.c 
{
padding-left: 15 px;
font-size: 20px;
}
i:hover
{
cursor:pointer;

}
.new 
{
    margin-inline-start: 48px;
}
#new1
{
 font-size: 24px;

 margin-left: 40px;

 

}
.first
{
width: 100%;
height: 400px;
background-image: url(image/RWKHu9.webp);
position: relative;

}
.first1
{
width:40%;
height: 60%;
margin-left: 60px;
margin-top: 40px;
position: absolute;
padding-top: 10px;

}
#f1
{
    padding-top: 10px 20px;
    font-size: 14px;
    background-color: #ffb900;

}
#f2
{
font-size: 20px;

}
#f3
{
    font-size: 15px;
}
#f4
{
    background: #000;
    padding: 10px 20px;
    color: #ffffff;
}
#f4:hover
{
    text-decoration: underline;
}
#new2
{
 font-size: 15px;

}
#new3
{
 color: #ffffff;
 background: #000;
 padding: 10px  20px;

}
#new3:hover
{
text-decoration: underline;

}

.a:hover
{
    text-decoration: underline;
}
.new4:hover
{
cursor: pointer;
}

.sectwo
{


    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 225px;
}

.logo1
{
align-items: center;
margin-left: 18px;

}
.ab 
{
width: 100%;
float: left;
height: 200px;
list-style: none;
}

.bc:hover 
{
text-decoration: underline;

}

.emp2
{

    margin-top: 70px;
    margin-left: 78px;
    float: left;
    color: #262626;
}

.emp
{

    color: #262626;
    margin-left: 220px;
    margin-top: 70 px;
    float: left;
    list-style: none;
}


.secthree
{

    width: 100%;
    height: 445px;
}

.seca 
{

    padding: 0;
    width: 23%;
    height: 425px;
    float: left;
    padding: 0% 2% 0% 0%;
}

#two
{
font-size: 15 px;


}


#new5
{
font-size: 14px;
padding: 5px;

}

#new4
{

    margin-bottom: 10px;
}

.secfour
{
width: 100%;
height: 425px;
background-image: url(image/RE3hFDE.webp);

}

.secsix
{
width:90%;
margin-top: 48px;

}

.new7
{
    display: inline-block;
    font-size: 20px;

    list-style: none;

}
.new7 li
{
display: inline-block;

}

.new6
{
    padding-right: 12px;
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 4px;

}

.footer
{
width: 100%;
margin-top: 20px;
background-color: #E6E6E6;
}

#footera 
{

    text-align: left;
    font-size: 15 px;

}

.footer1
{

    margin-top: 25px;
    margin-left: 30px;
}

.foot 
{
padding-top: 40px;
width: 100%;

}
.fot 

{

font-size: 12px;
}

.fot td:hover 
{
    text-decoration: underline;
}
.end 
{
width: 100%;
height: 50px;
display:flex ;
background-color: #E6E6E6;
padding-top: 15px;

}

#z
{

    width: 15%;
    float: left;
    padding-top: 10px;
    text-align: center;
    font-size: 12px;

}
#z i
{

    font-size: 25px;
    padding-left: 20px;
}
#z a:hover 
{
    text-decoration: underline;
}
#g
{
    color: red;
}
#h
{
    color: skyblue;
}
#z a
{

    text-decoration: none;
    color: #000;
}
.end1
{

    width: 80%;
    float:left;
}
.end2
{

    text-align: right;
    margin-right: 75px;
}
.end2 li
{
    display: inline-block;
    font-size: 10px;
    padding-left: 20px;
}